/*
* @Author: kyle.jhan
* @Date:   2019-03-19 12:19:04
* @Last Modified by:   kyle.jhan
* @Last Modified time: 2019-03-21 17:40:39
*/

@charset "UTF-8";


/* charset 很重要不然有中文無法編譯 */


/*-----------------------------------------------------------------------------------*/


/*  RESET
/*-----------------------------------------------------------------------------------*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus {
    outline: 0 !important
}

.fit-vids-style {
    display: none
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    width: 100%;
    height: auto;
}

iframe {
    border: none
}

::selection {
    background: #fbddcd;
    /* 文字選取顏色 */
    /* Safari */
    color: #2f2f2f;
}

::-moz-selection {
    background: #fbddcd;
    /* 文字選取顏色 */
    /* Firefox */
    color: #2f2f2f;
}

/*-----------------------------------------------------------------------------------*/
/*  01.基本樣式
/*-----------------------------------------------------------------------------------*/

body {
    font-family: "微軟正黑體", 'Microsoft JhengHei', sans-serif;
    overflow-x: hidden;
    /*background-color: #aaa;*/
    background-color: #efefef;
    color: #2f2f2f;
    font-size: 14px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body,
li,
address {
    line-height: 24px
}
input,
button,
select,
textarea {
    font-family: "微軟正黑體", 'Microsoft JhengHei', sans-serif;
    font-size: 14px;
    font-weight: normal;
}
p {
    margin: 0;
}
a {
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
a:hover,
a:focus {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #2e2e2e;
    font-weight: bold;
    text-transform: uppercase;
}
h1 {
    font-size: 26px;
    line-height: 26px;
}
h2 {
    font-size: 20px;
    line-height: 20px;
}
h3 {
    font-size: 16px;
    line-height: 16px;
}
h4 {
    font-size: 14px;
    line-height: 14px;
}
h5 {
    font-size: 13px;
    line-height: 13px;
}
h6 {
    font-size: 12px;
    line-height: 12px;
}

p {
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
}

ul li {
    list-style: none;
}

.container {
    margin-top: 10px;
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}



/*-----------------------------------------------------------------------------------*/
/*  背景
/*-----------------------------------------------------------------------------------*/
.bg-white {
    background-color: #fff; 
}

/*-----------------------------------------------------------------------------------*/
/*  文字
/*-----------------------------------------------------------------------------------*/
/*  顏色  
/*----------------------------------------*/
.text-red {
    color: #dc3545;
}
.text-gray {
    color: #888;
}
.text-secondary {
    color: #6c757d;
}



/*  尺寸  
/*----------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*  OWL CAROUSEL
/*-----------------------------------------------------------------------------------*/
.owl-theme .owl-controls .owl-nav [class*='owl-'] {
    color: #fff;
    margin: 0px;
    line-height: 1;
    font-size: 13px;
    padding: 0px;
    width: auto;
    height: auto;
    background: none;
    border: 1px solid rgba(255,255,255,0.7);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
    background: #fff;
    color: #2e2e2e;
    border: 1px solid #fff;
    text-decoration: none;
}
.custom-controls {
    position: relative
}

.custom-controls .owl-slider-controls {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    text-align: center;
}
.custom-controls .owl-slider-controls .owl-slider-nav [class*='owl-'] {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    pointer-events: auto;
    color: rgba(255,255,255,0.6);
    line-height: 1;
    font-size: 40px;
    width: auto;
    height: auto;
    background: none;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.custom-controls .owl-slider-controls .owl-slider-nav [class*='owl-']:hover {
    color: rgba(255,255,255,1)
}
.custom-controls .owl-slider-controls .owl-slider-nav .owl-slider-prev {
    left: 10px
}
.custom-controls .owl-slider-controls .owl-slider-nav .owl-slider-next {
    right: 10px
}
.custom-controls .owl-slider-controls .owl-dots {
    pointer-events: auto;
    position: absolute;
    width: 100%;
    bottom: 10px;
    cursor: pointer;
}
.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px; 
    margin: 0 3px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(255,255,255,0.6);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 12px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #7abe29;
}

/*-----------------------------------------------------------------------------------*/
/*  電視牆 tv-bn
/*-----------------------------------------------------------------------------------*/
.tv-bn {

}
.tv-bn-slider img {
    height: auto
}

/*-----------------------------------------------------------------------------------*/
/*  今日驚爆價 today
/*-----------------------------------------------------------------------------------*/
.today {
    padding-left: 15px;
}
.today .title {
    line-height: 50px;
    padding-left: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
        background-color: #fff;
}
.today .body {
    background-color: #fff;
}


.today .item a{
    color: #888;
    padding: 15px;
    display: block;
}

.today .item a:focus,
.today .item a:hover {
    color: #000;
    background-color: #f7f7f7;
}

.today .content {
    width: 60%;
    float: left;
}

.today span{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-weight: bold;
    display: block;
}

.today img {
    width: 40%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 2px;
}
.today .name {
    height: 72px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    padding-right: 15px;
}

.today .price {
    font-size: 24px;
}


@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
